/*defaults*/
.App{
  margin:0 auto;
  padding:0;
  width:100%;
  max-width: 1319px;
}
.container{
  background-color:#def1f4;
  padding:10px 15px;
  margin-bottom:10px;
}
/*header section css*/
h1{
  margin:0;
  display: inline-block;
  width: 50%;
}
.filter{
  width: 50%;
  display: inline-block;
  font-size: 16px;
  text-align: right;
}
.filter select{
  padding:5px 10px;
  border-radius: 6px;
  border-color:#a4a4a4;
  background-color: #f8f8f8;
}
@media screen and (max-width: 767px){
  h1, .filter{
  display: block;
  width: 100%;
  text-align: center;
  margin:10px 0;
}
}
/*setting responsive grid layout*/
.products{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  border-left:1px solid #e1e1e1;
  border-top:1px solid #e1e1e1;
}

.productList{
  border-right:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
  padding:10px;
}

/*product styling*/
img{
  display: block;
  margin:0 auto;
}
.productDesc{
  display: table;
  margin-top:20px;
}
.productName, .productPrice{
  display:table-cell;
  vertical-align: bottom;
  width:100%;
  font-weight: bold;
}
.productName{
  font-size:1.5em;
  padding-right:10px;
}
.productPrice{
  font-size:2.25em;
  text-align:right;
}
/*Product flags styling*/
.onSale, .isEx{
  color:#ffffff;
  padding:10px 20px;
  font-size:1em;
  display: inline-block;
}
.flagContainer{
  height:38px;
  display:block;
  width:auto;
}
.onSale{
  background-color:#cc3333;
}
.isEx{
  background-color:#009900;
}